@import "../../../../sass/mixins";

.character {
  &-content {
    text-align: center;
    padding: 1.5rem;
    @include flexSettings(column, center, flex-start);
    h1 {
      font-size: 2.2rem;
      font-weight: 700;
      @include respondTo(small) {
        font-size: 3rem;
      }
      @include respondTo(medium) {
        font-size: 3.5rem;
      }
    }
    @include respondTo(medium) {
      text-align: left;
      @include flexSettings(row, flex-start, space-between);
    }
    &-image {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      padding: 0 0 1.5rem 0;
      @include respondTo(small) {
        width: 350px;
        height: 350px;
      }
      @include respondTo(medium) {
        border-radius: 0;
        height: auto;
        width: 60%;
        height: auto;
        padding: 0 0 1.5rem 0;
      }
    }
    &-info {
      width: 100%;
      padding: 0;
      @include respondTo(medium) {
        max-width: 50%;
        padding: 0 0 0 1.5rem;
      }
    }
  }
}

.container {
  @include container(1140px);
}
