@import "../../../../sass/mixins";

.card {
  overflow: hidden;
  border-radius: 50%;
  &-medium {
    max-width: 350px;
    max-height: 350px;
  }
  &-small {
    max-width: 250px;
    max-height: 250px;
  }
  &-large {
    max-width: 450px;
    max-height: 450px;
  }
}
