@import "./variables";

@mixin container($maxWidth) {
  max-width: $maxWidth;
  margin: 0 auto;
}

@mixin flexSettings($direction, $alignment, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignment;
  justify-content: $justify;
}

@mixin respondTo($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}
