// COLORS
$colors: (
  monza: #d80127,
  lipstick: #c40060,
  plum: #963483,
  victoria: #5e488a,
  sanJuan: #334d77,
  pickledBluewood: #2f4858,
  black: #000,
  white: #fff,
);

// TEXT SIZE
$text-base: 1rem;
$text-medium: 1.5rem;
$text-big: 2rem;

// FONT FAMILY
$font-family: "Roboto Condensed", sans-serif;

// BREAKPOINTS CONFIG
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extraLarge: 1200px,
);
