@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/functions";

.app {
  &-container {
    @include flexSettings(column, center, center);
    @include respondTo(medium) {
      @include container(1140px);
      @include flexSettings(row, center, space-between);
    }
    padding: 0 1rem;
  }
  &-header {
    background-color: color(pickledBluewood);
    padding: 16px 0;
    position: fixed;
    width: 100%;
  }
  &-nav {
    @include respondTo(medium) {
      @include flexSettings(row, center, space-between);
      min-width: 50%;
      list-style: none;
      a {
        text-decoration: none;
        color: color(white);
        font-size: 1.3rem;
        &:hover {
          color: color(monza);
        }
      }
    }
    display: none;
  }
}

footer {
  background-color: color(pickledBluewood);
  padding: 16px 0;
  height: 80px;
  @include flexSettings(row, center, center);
}
