@import "../../../../sass/mixins";

.banner {
  @include flexSettings(column, center, center);
  min-height: 800px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  transition: background 800ms ease-in-out;
  &-content {
    height: auto;
    max-width: 50%;
  }
}
