@import '../../sass/mixins';

.container {
  @include container(1140px);
  padding: 0;
  @include respondTo(large) {
    padding: 0 1.5rem;
  }
  @include respondTo(extraLarge) {
    padding: 0;
  }

  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1.5rem 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .characters {
    padding: 1.5rem 0;
  }

  &-list {
    list-style: none;
    padding-bottom: 1.5rem;
    @include flexSettings(column, flex-start, flex-start);
    li {
      padding-bottom: 1.5rem;
      @include flexSettings(column, center, center);
      @include respondTo(large) {
        @include flexSettings(row, center, flex-start);
        padding-bottom: 1.5rem;
      }

      div.description {
        max-width: 80%;
        text-align: center;
        @include respondTo(large) {
          text-align: left;
          padding: 0 0 0 1.5rem;
          max-width: 70%;
        }
      }
    }
  }
}
